<div class='panel panel-primary'>
    <div class='panel-heading'>
      Details of Mobile  {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Refine by:</div>
            <div class='col-md-4'>
              <input type="text" [(ngModel)] ="refineMobile">
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Refined by:{{refineMobile}} </h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='mobiles && mobiles.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary' (click)="displayMobiles()" >
                                Display Mobile Images - might consume data
                            </button>
                        </th>
                        <th>Mobile-Name</th>
                        <th>Code</th>
                        <th>Released</th>
                        <th>Price</th>
                        <th>user review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let mobile of mobiles | MobileFilter : refineMobile'>
                        <td >
                            <div [hidden]="!showImages">
                           <img [src]='imageUrl+mobile.image'  />
                            </div>
                        </td>
                            <td>
                                <a [routerLink]="['/mobiledetail/:id',{id:mobile.msId}]" routerLinkAction='Active' >{{ mobile.name | lowercase}} </a>
                            </td>
                        <td>{{ mobile.model  }}</td>
                        <td>{{ mobile.releaseDate }}</td>
                        <td>{{ mobile.price | currency:'USD' }}</td>
                        <!--<td class="zippy">{{ mobile.rating }}</td>-->
                        <td>
                            <mob-rate rating='{{mobile.rating}}' (ratingClicked)="mobileRatingClicked($event)" ></mob-rate>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>